{% extends 'RGPY/base.html' %}
{% block left %}
  <ul class="nav" id="side-menu1">
    <li>
        <a href="{% url 'RGPY:user_info'%}"><i class="fa fa-user fa-fw"></i> 学生:&nbsp;{{ request.user.ouruser.student.get_short_name }}<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="{% url 'RGPY:news' %}">最新消息</a>
            </li>
            <li>
                <a href="/">修改密码</a>
            </li>
            <li>
                <a href="/">退出</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#"><i class="fa fa-files-o fa-fw"></i> 人格培养 <span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="/">人格培养时长要求</a>
            </li>
            <li>
                <a href="/">已获时长</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#"><i class="fa fa-files-o fa-fw"></i> 志愿服务 <span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="{% url 'RGPY:task_department_list'%}">系任务</a>
            </li>
            <li>
                <a href="/">院任务</a>
            </li>

            <li>
                <a href="/">我申请的任务</a>
            </li>
            <li>
                <a href="/">申请时长认证</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#"><i class="fa fa-user fa-fw"></i> 班级管理<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href=" ">个人时长认证</a>
            </li>
            <li>
                <a href="/">团体时长认证</a>
            </li>
        </ul>
    </li>
  </ul>

{% endblock %}
