{% load staticfiles %}
{% block custom_static %}
    <link rel="stylesheet" href="{% static 'RGPY/vendor/bootstrap/css/bootstrap-switch.min.css' %}">
    <script type="text/javascript" src="{% static 'RGPY/vendor/bootstrap/js/bootstrap-switch.min.js' %}"></script>

    <script>
    $(function(){
        var task_id = {{mission.id}};
        $(".my_checkbox").bootstrapSwitch({
            onText:'批准',
            offText:'不批准',
            onColor:"success",
            offColor:"info",
            size:"small",
            onSwitchChange:function(event,state){
                var student = $(this).parents("tr");
                var id = student.attr("id");
                $.ajax({url:"/task/agree/"+task_id+"/"+id, success:function(result){
                    if (result == '1'){
                        alert("您已同意ta的任务申请");
                    }else if (result== '0'){
                        alert("您已拒绝ta的任务申请");
                    }else{
                        alert("网络异常");
                    }
                }});
            }
        });

        $("[name='add_score']").click(function(){
            var student = $(this).parents("tr");
            var id = student.attr("id");
            $.ajax({url:"/task/addScore/"+task_id+"/"+id, success:function(result){
                if (result == '1'){
                    alert("时长已增加");
                }else if (result== '0'){
                    alert("时长已增加,请不要重复增加");
                }else{
                    alert("网络异常");
                }
            }});
        });
    });

    </script>

{% endblock %}
<div class="page-header">
  <h1 style="background-color:#eee">报名信息</h1>
</div>
<div class="table-responsive">
  <table class="table table-bordered table-striped table-hover">
    <tr>
        <th>学号</th>
        <th>姓名</th>
        <th>班级</th>
        <th>系别</th>
        <th>手机号码</th>
        <th>邮箱</th>
        <th>是否批准申请</th>
        <th>增加时长</th>
    </tr>
    {% for student in student_list %}
        <tr id="{{ student.id }}">
            <td>{{student.username}}</td>
            <td>{{student.first_name}}</td>
            <td>{{student.banji}}</td>
            <td>{{student.department}}</td>
            <td>{{student.phone}}</td>
            <td>{{student.email}}</td>
            <td><input class="my_checkbox" type="checkbox" {% if student.is_approval%}checked {%endif%} /></td>
            <td><button type="button" class="btn btn-primary btn-sm" name="add_score">增加时长</button></button></td>
        </tr>
    {% empty %}
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>暂时没有学生申请您的任务</strong>
    </div>
    {% endfor %}
  </table>
  </div>
