{% extends 'RGPY/base.html' %}
{% block left %}
  <ul class="nav" id="side-menu1">
    <li>
        <a><i class="fa fa-user fa-fw"></i>班级管理<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="{% url 'RGPY:banji_list'%}">查看班级</a>
            </li>
            <li>
                <a href="{% url 'RGPY:banji_add'%}">增加班级</a>
            </li>
            <li>
                <a href="/">修改密码</a>
            </li>
        </ul>
        <a><i class="fa fa-user fa-fw"></i>人格培养<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="{% url 'RGPY:task_list' %}">我的任务</a>
            </li>
            <li>
                <a href="{% url 'RGPY:task_publish' %}">发布任务</a>
            </li>
            <li>
                <a href="/">批量导入任务</a>
            </li>
        </ul>
    </li>

  </ul>

{% endblock %}
