{% extends 'RGPY/Department/base.html' %}
{% load staticfiles %}
{% block custom_static %}
    <script src="{% static 'RGPY/js/reset_password.js' %}"></script>
    <script src="{% static 'RGPY/js/user_del.js' %}"></script>
    <link rel="stylesheet" href="{% static 'RGPY/vendor/bootstrap/css/bootstrap-switch.min.css' %}">
    <script type="text/javascript" src="{% static 'RGPY/vendor/bootstrap/js/bootstrap-switch.min.js' %}"></script>

    <script>
    $(function(){
        $(".my_checkbox").bootstrapSwitch({
            onText:'是',
            offText:'不是',
            onColor:"success",
            offColor:"info",
            size:"mini",
            onSwitchChange:function(event,state){
                var student = $(this).parents("tr");
                var id = student.attr("id");
                $.ajax({url:"/department/student/"+id+"/reset_admin/", success:function(result){

                }});
            }
        });
    });

    </script>
    <style>
        .btn-file {  /*  上传按钮*/
            position: relative;
            overflow: hidden;
        }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity = 0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }
    </style>
{% endblock %}

{% block body %}
<div class="table-responsive">
  <table class="table table-bordered table-striped table-hover">
    <tr>
        <th>学号</th>
        <th>姓名</th>
        <th>邮箱</th>
        <th>手机</th>
        <th>班级管理员</th>
        <th>班级</th>
        <th>时长</th>
        <th>重置密码</th>
        <th>删除</th>
    </tr>
    {% for student in student_list %}
        <tr id="{{ student.id }}">
            <td>{{student}}</td>
            <td>{{student.get_short_name}}</td>
            <td>{{student.email|default:"未填写"}}</td>
            <td>{{student.phone|default:"未填写"}}</td>
            <td><input class="my_checkbox" type="checkbox" {% if student.is_banji_admin %}checked {%endif%} /></td>
            <td>{{student.banji}}</td>
            <td>{{student.score}}</td>
            <td><button type="button" class="btn btn-primary btn-sm" name="reset_pwd">密码重置</button></td>
            <td><button type="button" class="btn btn-primary btn-sm" name="user_del">删除学生</button></td>
        </tr>
    {% endfor %}
  </table>
</div>
<div class="jumbotron">
    <h1>批量注册学生</h1>
    <p>刚刚创建的班级可以在这里批量导入学生账号</p>
    <p>上传的表格命名格式为：班级名.xls</p>
    <p>表中数据格式为：学号 姓名 邮箱(可以为空) 手机号(可以为空) 是否是班级管理员(注1) 班级</p>
    <p>注1:是班级管理员的学生在此处设置为1,其余的则认为是非班级管理员，可以稍后设置</p>
    <p>注2:如果不了解上传的格式要求可以点击 下载demo 按钮 尝试一下</p>
    <div class="form-group">
        <a class="btn btn-primary btn-lg col-sm-2 control-label" href="/media/demo/13网工1班.xls" role="button">下载demo</a>
        <form class="excelupload" action="{% url 'RGPY:student_list_upload'%}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <span class="btn btn-lg btn-success btn-file col-sm-offset-5 col-sm-2 control-label"> 选择学生表
               <input type="file" name="excel" value="" id=""  />
            </span>
            <input class="btn btn-primary btn-lg col-sm-offset-1 col-sm-2 control-label" name="uploadtable" type="submit" value="上传">
        </form>
    </div>
</div>
{% endblock %}
