{% extends 'RGPY/base.html' %}
{% block left %}
  <ul class="nav" id="side-menu1">
    <li>
        <a><i class="fa fa-user fa-fw"></i>用户管理<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="{%url 'RGPY:college_list'%}">查看院级管理员</a>
            </li>
            <li>
                <a href="{%url 'RGPY:department_list'%}">查看系管理员</a>
            </li>
            <li>
                <a href="{%url 'RGPY:create_college_manage'%}">创建院级管理员</a>
            </li>
            <li>
                <a href="{%url 'RGPY:create_department_manage'%}">创建系管理员</a>
            </li>
            <li>
                <a href="{%url 'RGPY:change_password'%}">修改密码</a>
            </li>
        </ul>
    </li>

  </ul>

{% endblock %}
