{% extends 'RGPY/student/StudentBase.html' %}
{% load staticfiles %}
{% block custom_static %}
<script>
$(function(){
    // 当点击 通过 按钮时
    $("[name='_agree']").click(function(){
        var authentication = $(this).parents("tr");
        var id = authentication.attr("id");
        $.ajax({url:"/task/student/authentication/agree/"+id+"/1", success:function(result){

        }});
    });
    // 当点击 拒绝 按钮时
    $("[name='_pass']").click(function(){
        var authentication = $(this).parents("tr");
        var id = authentication.attr("id");
        $.ajax({url:"/task/student/authentication/agree/"+id+"/2", success:function(result){

        }});
    });
});
</script>
{% endblock %}

{% block body %}
<form action="" method="post" class="form-horizontal" role="form">
    {% csrf_token %}
    <div class="form-group">
      <label for="id_desc" class="col-sm-2 control-label">任务名称</label>
      <div class="col-sm-7">
        <input type="text" class="form-control taskInfo" id="id_desc" name="desc" required="" value="{{authentication.desc}}" disabled="true">
      </div>
    </div>
    <div class="form-group">
      <label for="id_score" class="col-sm-2 control-label">时长</label>
      <div class="col-sm-7">
        <input type="number" class="form-control taskInfo" id="id_score" name="score" required="" min="1" value="{{authentication.score}}" disabled="true">
      </div>
    </div>

    <div class="form-group">
      <label for="id_remark" class="col-sm-2 control-label">备注</label>
      <div class="col-sm-7">
        <textarea class="form-control taskInfo" rows="5" id="id_remark" name="remark" disabled="true"> {{authentication.remark}}</textarea>
      </div>
    </div>

    <div class="form-group submit_edit">
        <div class="col-sm-offset-2 col-sm-6">
          <button type="submit" class="btn btn-primary" name="sumbit_edit">提交修改</button>
        </div>
    </div>

</form>
{% endblock %}
