{% extends 'RGPY/Manage/base.html' %}
{% load staticfiles %}

{% block custom_static %}
    <script src="{% static 'RGPY/js/change_password.js' %}"></script>
{% endblock %}

{% block body %}
<form action="" method="post" class="form-horizontal" role="form">
    {% csrf_token %}
    <ul>
        <p>
            <label for="id_username">用户名:</label>
            <input class="form-control" id="id_username" name="username" type="text" value="{{request.user}}" disabled>
        </p>
        <div class="alert alert-warning alert-dismissible alert_dismissible1" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Warning!</strong> 密码不正确
        </div>
        {{change_password_form.as_p }}
    </ul>
    <div class="form-group change_password">
        <div class="col-sm-offset-4 col-sm-6">
          <button type="button" class="btn btn-primary" >修改密码</button>
        </div>
    </div>
</form>
{% endblock %}
